header {
    background-color: #EFE2BA;
    text-align: center;
    padding: 30px;
    border: 10px solid #4056A1;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

header h1 {
    font-size: 6vw;
    font-weight: 700;
    letter-spacing: 12px;
    color: #D79922;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #D79922;
}

@media only screen and (min-width: 600px) {
    header h1 {
    color: #EFE2BA;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #D79922;
    }
}