header {
    background-color: #999;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 42px;
    letter-spacing: 6px;
}

button {
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

