input {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

label {
    margin-bottom: 10px;
}

div .username, .reg-password {
    margin: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}