.journal-intro, .posted {
    text-align: center;
    padding: 30px;
}

#journal_prompt {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 80%;
}

.journal-intro {
    color: rgb(64, 86, 161);
}

select {
    background: rgb(239, 226, 186);
    border-radius: 5px;
}

.new-post {
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    max-width: 80%;
}

.delete:hover {
    background: rgb(241, 60, 32);
}